@page
@model RoomRentalManagementSolution.Pages.Contract.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.DateOfHire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.DateOfHire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.DateOfExpiration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.DateOfExpiration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Contract.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Contract.Room.RoomId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
